# Data path and active mass (set to 1 if data is normalized with regards to active mass)
files = [
	["testdata/MR_B_076.csv","1.0"],
]

[settings]
qcplot = false                   # Wether or not to plot capacity vs cycles
percentage = false              # Wether or not to use percentage in capacity vs cycles plot
rawplot = true                  # Wether or not to plot Potential and Current vs time
rawplot_capacity = false        # Wether or not to use cumulative capacity on x-axis
vcplot = false                  # Wether or not to plot voltage curves (either CV og GC depending on data)
dqdvplot = false                # Wether or not to plot dQ/dV plots from the GCPL data
specific_cycles = false         # Will make global limit of cycles, can be range or list of cycles
suptitle = 'Capacity retention' # Title of plot
ylabel = 'Specific capacity [mAh/g]'
xlabel = 'Cycles'
all_in_one = false

[datatreatment]
reduce_data = false             # Reduces large files by changing potential resolution to 10mV and time resolution to 10s (new file is saved at same location as input file)
dt = 10                         # Maximum voltage which goes by unrecorded
dV = 0.01                       # Maximum time which goes by unrecorded
smooth_data = false             # removes outliers, new file saved at same location as input file
print_capacities = false        # Will print the capacity of the plotted cycles within a potential range, can be false or list of tuples, eg: [(3.8, 4.5), (4.5, 5.0)]
